// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#logo{
  background: #E6E9ED;
  padding: 10px;
  border-bottom: 2px solid;
  font: small-caps 40px/40px "Arial", serif;
  color: #000000;
  text-align: center;
}
#content{
  margin-left: 17em;
  padding: 1em;
}
#menu {
  float: left;
  width: 13em;
  min-height: 40em;
  border-right: 2px solid white;
}
#menu ul{
  list-style-type:none;
  padding:5px;
  margin:5px;  
} 
.nav-pills>li
{
  width: 160px;
}
.firstRow {
  height: 100px;
}

 
.productOwner {
margin-left: 50px;  
}